/*Gallery*/
#gallery {margin:0 auto;height:296px;overflow:hidden; z-index:1; /*padding-top:100px;*/}
.container_image{margin:0 auto;position:relative;width:100%;font-size:.8125em;}	
/*===== gallery =====*/
.roundabout-holder{width:900px;height:296px;margin:0 auto;}
.roundabout-moveable-item {width: 646px;height: 216px;cursor: pointer;border:3px solid #ccc;border:3px solid rgba(0, 0, 0, 0.08);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.roundabout-moveable-item img{width:100%;}
.roundabout-in-focus {border:3px solid rgba(0, 0, 0, 0.2);}


